# This workflow is triggered by pushing commits on branches and/or Pull Requests.
# It will not trigger for pushes to master but run every night to provide a nightly build status.
name: Build project with Maven
on:
  pull_request:
  push:
    branches-ignore: [ master ]
  schedule:
  - cron: '2 2 * * 1-5' # run nightly builds everyday

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Java setup
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 11

    - name: Cache
      uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Run Maven
      run: mvn -B clean install com.mycila:license-maven-plugin:check

    - name: Run I-Tests and generate coverage reports
      run: mvn -B -Pitest verify failsafe:verify

    - name: Upload coverage to Codecov
      if: (github.event_name == 'push' || github.event_name == 'schedule') && github.actor != 'dependabot[bot]'
      uses: codecov/codecov-action@v1.0.2
      with:
        token: ${{secrets.CODECOV_TOKEN}}

    - name: Upload coverage to Codacy
      if: (github.event_name == 'push' || github.event_name == 'schedule') && github.actor != 'dependabot[bot]'
      uses: codacy/codacy-coverage-reporter-action@v1
      with:
        project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
        coverage-reports: examples/coverage-report/target/site/jacoco-aggregate/jacoco.xml
